extends ./template/base.jade

append css
  link(rel='stylesheet', href='css/about.css')

block contents
  div.mdl-grid.global-max-width
    div.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      div.mdl-card__title
        h2.mdl-card__title-text About
      div.mdl-card__media
        img.about-image(src="img/about-bg.jpg", boarder="0")
      div.mdl-grid.about-body
        h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Robot Research
        div.mdl-cell.mdl-cell--12-col.mdl-card__supporting-text.no-padding
          p
            | PhD Candidate and researcher in the 
            a(href='http://www.jsk.t.u-tokyo.ac.jp/')
              strong JSK Lab 
            | at 
            a(href='http://www.u-tokyo.ac.jp/')
              strong the University of Tokyo (Todai) 
            | .
          p My interests includes task & motion planning, perception, human robot interface and learning of robot behavior.
          p Mainly contributing to the ROS framework, Gazebo simulator, Euslisp programming language.
        h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Udon
        div.mdl-cell.mdl-cell--12-col.mdl-card__supporting-text.no-padding
          p
            | Udon - one of the most famous Japansese traditional food.
            | I've eaten udon for the most of my life, still a lot to learn from udon.
            | I'm active in 
            a(href='http://todaiudonbu.jp') Todai Udon-bu 
            | .
        h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Russian Classical Music
        div.mdl-cell.mdl-cell--12-col.mdl-card__supporting-text.no-padding
          p
            | I love Dmitri Shostakovich.
