extends ./template/base.jade

append css
  link(rel='stylesheet', href='css/about.css')

block contents
  div.mdl-grid.max-width
    div.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      div.mdl-card__title
        h2.mdl-card__title-text About
      div.mdl-card__media
        img.about-image(src="img/about-bg.jpg", boarder="0")
      div.mdl-grid.about-body
        h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Robot Research
        div.mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
          p blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...

        h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Udon
        div.mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
          p blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...

        h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Russian Classical Music
        div.mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
          p blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...blah blah...
