extends ./template/base.jade

append css
  link(rel='stylesheet', href='css/cv.css')

block contents
  div.mdl-grid.max-width
    div.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      div.mdl-card__title
        h2.mdl-card__title-text CV
      div.mdl-grid.about-body
        div.mdl-cell.mdl-cell--12-col.mdl-card__supporting-text
          a.link-download(href="data/cv_yuki_furuta.pdf")
            i.fa.fa-download.download-icon-right-margin
            | Download PDF
      div.mdl-card__media
        object.cv-pdf(data="data/cv_yuki_furuta.pdf")
