extends ./template/base.jade

// append css
//   link(rel='stylesheet', href='css/about.css')

block contents
  div.mdl-grid.max-width
    div.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
      div.mdl-card__title
        h2.mdl-card__title-text CV
      div.mdl-grid.about-body
        h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Comming Soon...
