extends ./template/base.jade

append css
  link(rel='stylesheet', href='css/index.css')

block contents
  div.mdl-grid.index-max-width
    div.mdl-cell.mdl-cell--12-col.index-main-card.mdl-card.mdl-shadow--4dp
      div.mdl-card__media
        img(src="img/index-bg.jpg", boarder="0")
      div.mdl-card__title
        h2.mdl-card__title-text The site of Furushchev
      div.mdl-card__supporting-text
        This is the site of furushchev.
