doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="author", content="furushchev")
    title Я - чайка, нет... не то. Я - чайник.
    link(rel='stylesheet', href='css/style.css')
  body
    h1 test
