body {
    background-color: #f0f0f0;
}

.global-min-height {
    min-height: 100%;
}

.global-max-width {
    max-width: 900px;
    margin: auto;
}

.footer-fixed {
    // position: absolute !important;
    // bottom: 0 !important;
    // left: 0 !important;
    // right: 0 !important;
    background-size: cover;
}

.header-title-margin-right {
    margin-right: 15px;
}

.header-social-margin-right {
    margin-right: 5px;
}

.drawer-logo-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}