#header
header.mdl-layout__header
  div.mdl-layout__header-row
    span.mdl-layout-title.header-title-margin-right Furushchev
    nav.mdl-navigation
      a.mdl-navigation__link(href="index.html") Home
      a.mdl-navigation__link(href="about.html") About
      a.mdl-navigation__link(href="cv.html") CV
      a.mdl-navigation__link(href="blog/") Blog
    div.mdl-layout-spacer
    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link(href="https://github.com/furushchev")
        i.fa.fa-github.header-social-margin-right
        |  Github
      a.mdl-navigation__link(href="https://twitter.com/furushchev")
        i.fa.fa-twitter.header-social-margin-right
        |  Twitter
      a.mdl-navigation__link(href="https://jp.linkedin.com/in/yuki-furuta-90093192")
        i.fa.fa-linkedin.header-social-margin-right
        |  LinkedIn
div.mdl-layout__drawer.mdl-layout.mdl-layout--small-screen-only
  span.mdl-layout-title
    img.drawer-logo-image(src="https://ja.gravatar.com/userimage/43224919/832bd7b5b872871846196ad4019cb632.jpg?size=200")
    |   Furushchev
  nav.mdl-navigation
    a.mdl-navigation__link(href="index.html") Home
    a.mdl-navigation__link(href="about.html") About
    a.mdl-navigation__link(href="cv.html") CV
    a.mdl-navigation__link(href="blog/") Blog
  nav.mdl-layout-spacer
  nav.mdl-navigation
    a.mdl-navigation__link(href="https://github.com/furushchev")
      i.fa.fa-github.header-social-margin-right
      |  Github
    a.mdl-navigation__link(href="https://twitter.com/furushchev")
      i.fa.fa-twitter.header-social-margin-right
      |  Twitter
    a.mdl-navigation__link(href="https://jp.linkedin.com/in/yuki-furuta-90093192")
      i.fa.fa-linkedin.header-social-margin-right
      |  LinkedIn
